body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 24px;
}

input:checked + label {
    max-height: 200px;
    display: block;
    padding: 16px;
    background: white;
    color: black;
    width: 120%;
    transform: translateX(-1%);
    margin-top: 8px;
}

label > label {
    transition: max-height 1s ease, padding 1s ease;
    display: block;
}

input:not(:checked) + label {
    max-height: 0;
    opacity: 0;
}

input[type="radio"] {
    opacity: 0;
    width: 100%;
    position: absolute;
    margin: 0;
}

body > label {
    background: #252525;
    color: white;
    padding: 16px;
}
