form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    font-family: sans-serif;
    border: 2px solid black;
    padding: 32px;
    border-radius: 16px;
    gap: 16px;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 0
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

input {
    border-radius: 4px;
    padding: 12px;
    border: 0.5px solid #797979;
}

input:valid {
    border-color: green;
    box-shadow: 0 0 3px green;
}

input:not(:valid) {
    border-color: red;
    box-shadow: 0 0 3px red;
}

div:has(input:not(:valid))::after {
    content: 'Поле обов\'язкове для заповнення';
    color: red;
    font-weight: 700;
    margin-top: 2px;
}

div:has(input:focus)::after {
    display: none;
}

input:focus {
    outline: none;
    border-color: #2d49d2;
    box-shadow: 0 0 3px #2d49d2;
}

button {
    padding: 12px;
    background-color: #2d49d2;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    width: 30%;
}

