body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.test-block {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

input.success {
    border-color: green;
}

input.fail {
    border-color: red;
}

h2, h3, h5 {
    margin: 0;
}